<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <headeer class="header">
        <div class="logo">
            <h1>FireWar</h1>
        </div>
        <div class="menu">
            <div class="link">
                <a href="/geradores">Geradores</a>
            </div>
            <div class="link">
                <a href="/buscas">Buscas</a>
            </div>
        </div>
    </headeer>
    <section class="conteiner">
        <div class="buscas">
            <div class="title-buscas">
                <h2>Buscas</h2>
            </div>
            <br><hr><br>
            <div class="card-buscas">
                <div class="busca-cep">
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>